.vps{
  background-color: #d5d696;
}

.vds{
  background-color: #81be69;
}

.nfs{
  background-color: #6994be;
}

.unknown{
  background-color: #616161;
}

.bold {
  font-weight: bold;
}

.imprint{
  background-color: #fff;
}